:root {
    --secondary-background-color: whitesmoke;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
}

#sidenav ul li {
    list-style-type: decimal;
    font-size: .8rem;
}

#sidenav {
    left: 0;
    width: 20vw;
    background-color: var(--secondary-background-color);
}

.navbar * {
    list-style-type: decimal;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a.anchor {
    display: none;
}

a.anchor {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a.anchor .hash {
    text-decoration: none;
    opacity: 0;
    margin-left: 5px;
}

a.anchor:hover .hash {
    opacity: 1;
}

.navbar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.icon-button i.fa {
    font-size: 1.2em;
    color: #8e8e8e;
}

#sidebar-close-sidebar {
    border: none;
    background: none;
    cursor: pointer;
}

#sidebar-close-sidebar i.fa {
    font-size: 1.2em;
    color: #333;
}

top-bar {
    justify-content: space-between;
    align-items: start;
    line-height: 1rem;
}

.menu-title {
    font-size: 1.5rem;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 14fr 1fr;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

main-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 960px) {
    #sidenav {
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: var(--secondary-background-color);
    }

    #hamburger-menu {
        display: block;
    }

    #content-container {
        width: 100vw;
        padding-left: 0vw;
        grid-template-columns: 1fr 14fr 1fr;
    }

    #sidebar-close-sidebar {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 960px) {
    #sidenav {
        display: block;
    }

    #sidenav button {
        background: none;
        border: none;
    }

    #sidebar-close-sidebar {
        display: none;
    }
}

.mermaid {
    background: whitesmoke !important;
}
