body {
    height: 100vh;
}

#sidenav ul li {
    list-style-type: decimal;
    font-size: .8rem;
}

#sidenav {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 20vw;
    background: whitesmoke !important;
}

.navbar * {
    list-style-type: decimal;
}

top-bar {
    justify-content: space-between;
    align-items: start;
    line-height: 1rem;
}

.menu-title {
    font-size: 1.5rem;
}

#content-container {
    justify-content: space-around;
    width: 100vw;
}

@media (max-width: 960px) {
    #sidenav {
        width: 100vw;
        display: none;
    }

    #sidebar-close-sidebar {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 960px) {
    #sidenav {
        display: block;
    }

    #sidebar-close-sidebar {
        display: none;
    }
}

.mermaid {
    background: whitesmoke !important;
}
