<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{.SiteURL}}/css/catppuccin.css" rel="stylesheet">
    <link href="{{.SiteURL}}/css/prose.css" rel="stylesheet">
    <link href="{{.SiteURL}}/css/main.css" rel="stylesheet">
    <link href="{{.SiteURL}}/css/theme.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{.SiteURL}}/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{.Title}}</title>
</head>

<body class="{{.Theme}} ">
    <script type="module" src="{{.SiteURL}}/js/index.js"></script>
    <script>
        function reloadPage() {
            location.reload();
        }

        function hamburgerClick() {
            const sideNav = document.getElementById("sidenav")
            const contentContainer = document.getElementById("content-container")
            console.log(sideNav.style.display)
            if (sideNav.style.display !== "block") {
                sideNav.style.display = "block"
            } else if (sideNav.style.display === "block") {
                sideNav.style.display = "none"
            }
        }
    </script>
    <bb-navmenu id="sidenav" theme="{{.Theme}}"
        class="{{.Theme}} fixed top-0 left-0 h-full w-64 bg-white shadow-md hidden">
        <ol class="navbar prose lg:prose-sm flex flex-col overflow-hidden" slot="nav-content">
            {{.NavLinks}}
        </ol>
    </bb-navmenu>

    <div class="container ">
        <div id="content-container" class="flex flex-row flex-wrap py-4">
            <main role="main" class="prose lg:prose-xl w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
                <bb-topbar theme="{{.Theme}}" url="{{.SiteURL}}" title="{{.BookTitle}}"></bb-topbar>

                {{.Body}}

                <bb-navbtns theme="{{.Theme}}" class="nav-wide-wrapper" theme="{{.Theme}}" next=" {{.NextPage}}"
                    prev="{{.PreviousPage}}"></bb-navbtns>

            </main>
        </div>
    </div>

    <footer class="mt-auto">
    </footer>

</body>

</html>